@import url("fonts.css");

/**
 *GRAPH CSS
 */
.graph-container-left{
    width:47%;
    margin-left: 5px;
    float: left;
}
.qol-index{
    margin-bottom: 70px;
}
.qol-index-content{
    border-top: 1px solid #202020;
}
.qol-index-content > h3{
    margin-top: 20px;
}
#btn_us_index,#btn_world_index{
    padding: 15px 15px 10px;
}


/**
 *charts
 */
div.random-trivia{
    min-height: 361px;
}
.qol-charts-container{
    margin-top:20px;
}

/** 
 *circular progressbar 
 */
.qol-charts-dimensions{
    display: inline-block;
    margin-top: 30px;
    float:left;
    width: 58%;
}
.qol-charts-content{
    border-top: 1px solid #202020;
}
.qol-circular-graph-content > li{
    display: inline-table;
    width: 25%;
}
.qol-charts-content > .qol-circular-graph-content,{
    margin-top: 30px;
}

/**
 *pie progressbar 
 */
.qol-circular-graph-content{
    margin-left: 0px;
}
.pie_progress__number, .doughnutSummaryNumber{
    font-family: 'AlternateGothicW01-No3_691802',sans-serif;
    cursor: pointer;
    font-size: 32px;
}
.pie_progress svg {
    width: 70px;
    height: 70px;
}
.description-circular > h3{
    text-align: center;
    font-size: 14px;
}
.graph-right-content{
    widows: 100%;
}
.qol-charts-dimensions-equevalent{
    margin-top: 50px;
    float:left;
    width: 40%;
}

/**
 *right containter 
 */
.graph-container-right{
    margin-left: 5px;
    float:right;
    width:50%;
}

/**
 *select country
 */
.select-chart-container{
    width:100%;
    float: right;
}
.select-chart{
    width:50%;
    float: right;
}
.choose-component, .choose-location{
    font-family: 'AlternateGothicW01-No3_691802',sans-serif;
    font-size: 15px;
}
.select-country-container{
    width:100%;
    float: right;
}
.select-country{
    width:50%;
    float: right;
}
.subcomponents-chart{
    margin-top: 10px;
}
.trivia-score > h2{
    color:#202020;
}
.trivia-score{
    position: absolute;
    left: 0;
    right: 0;
    top:50%;
    bottom: 50%;
}
.trivia-score > .trivia-percentage{
    font-size: 100px;
    line-height: 50px;
}
.country-map{
    text-align: center;
    position: relative;
    z-index: 1;
}
.country-map svg{
    width: 55%;
    height: 280px;
    margin-top: 10px;
    fill:#fff;
}

/**
 *bar charts
 */
.canvasjs-chart-credit{
    display: none;
}
.subcomponents-bar-chart {
    margin-top:15px;
    float: left;
    width: 48%;
    margin-left: 5px;
}
.subcomponents-line-chart{
    margin-top:15px;
    float: left;
    width: 48%;
    margin-left: 5px;
}
.subcomponents-bar-chart, .subcomponents-line-chart{
    height: 225px;
}
.select-subcomponents-bar-container{
    width: 60%;
}
.select-subcomponents-line-container{
    width: 60%;
}

/*chart*/
/*.select-chart-container > .select-chart > .selectric-wrapper > .selectric > .label {
    background: none repeat scroll 0% 0% #fff;
    color:#202020;
}
.select-chart-container > .select-chart > .selectric-wrapper > .selectric {
    background: none repeat scroll 0% 0% #fff;
    border: 0px solid #DDD;
}
.select-chart-container > .select-chart > .selectric-wrapper > .selectric > .button {
    background: none repeat scroll 0% 0% #fff;
    color:#202020;
}*/


/**
 *for graph page responsive design
 */
@media screen and (max-width: 1150px) {
    .pie_progress svg {
        width:100px;
        height: 100px;
    }
    .subcomponents-bar-chart, .subcomponents-line-chart{
        width: 100%;
    }
    .select-subcomponents-bar-container, .select-subcomponents-line-container{
        width:170px;
    }
    .qol-charts-dimensions-equevalent {
        margin-top: 25%;
    }
    .qol-circular-graph-content > li {
        width: 32.5%;
    }
    .qol-charts-dimensions{
        width: 100%;
    }
    .qol-charts-dimensions-equevalent {
        margin-top:10px;
        position:relative;
        width: 100%;
    }
    .doughnut-chart {
        text-align: center;
        /*width: 100%;*/
    }
    .qol-charts-dimensions{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 796px) {
    .graph-container-left{
        width: 100%;
    }
    .graph-container-right{
        width: 100%;
    }
    .select-country {
        width: 100%;
        margin-top: 30px;
    }
    .select-chart{
        width: 100%;
        margin-top: 30px;
    }
    .pie_progress svg {
        width: 150px;
        height: 150px;
    }
    .pie_progress__number {
        font-size: 50px;
    }

}