@import url("fonts.css");

/**
 *your perfect place css
 */
div.interactive-app-container{
    width: 100%;
    height: calc((100%) - (75px));
}
div.interactive-app-sidebar-container{
    width: 22%;
    float:right;
    position: relative;
    top:10px;
    right: 7px;
}
div.interactive-app-left-body{
    float:left;
    width:77%;
    height: 100%;
    position: relative;
}
div.us-map, div.world-map{
    height: 98%;
    display:none;
    background-color: #fff;
    position: relative;
    width: 100%;
    margin-top: 5px;
}
section.interactive-app-sidebar{
    border-right: 5px solid #323841;
    border-left: 5px solid #323841;
    background-color: #323841;
    height: 100%;
    float:right;
    width: 100%;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #323841;
}
@media screen and (max-width: 1230px) {
    div.interactive-app-sidebar-container{
        width:25%;
    }
    div.interactive-app-left-body{
        width:73%;
    }
}
@media screen and (max-width: 1100px){
    div.interactive-app-sidebar-container{
        width:30%;
    }
    div.interactive-app-left-body{
        width:68%;
    }
}
div.sidebar-header > p{
    color: #FFF;
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin-bottom: 0px;
    padding: 15px 15px 12px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-family: 'AlternateGothicW01-No3_691802',sans-serif;
}
div.sidebar-toggle{
    background-color: #454E59;
    padding:10px;
    border-bottom: 1px solid #323841;
}
div.sidebar-body{
    height: calc((100%) - (190px));
    position: relative;
    width: 100%;
}
div.us-toggle{
    display: block;
    height: 100%;
}
div.us-toggle > ul{
    overflow-y: auto;
    height: 100%;
    margin:0;
}
div.world-toggle > ul{
    overflow-y: auto;
    height: 100%;
    margin:0;
}
div.dimensions > p{
    padding: 5px 0px 5px;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    display: inline;
}
div.component-title-container > h3{
    color:#fff;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    font-weight: normal;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 11px;
}
div.component-title-container{
    width: 65%;
    vertical-align: middle;
    display: table-cell;
}
div.components{
    width: 100%;
    padding: 2px 0px 2px;
    border-bottom: 1px solid #323841;
    cursor: pointer;
    display: table;
}
#image-container{
    margin:0;
    padding: 0;
    width: 20px;
    height:20px;
    margin-left: 5px;
}

/** 
 *us toggle 
 */


/* 
Community and Relationships
*/
div.us-toggle div.community-and-relationships-header{
    background-color:#fff;
    color:#DA2834;
    padding: 3px 0px 3px 0px;
}
div.us-toggle div.community-life{
    background-color:#F02C39;
}
div.us-toggle div.family-life{
    background-color:#FF303E;
}

/*
Freedom and Opportunity
 */
div.us-toggle div.freedom-and-opportunity-header{
    background-color: #fff;
    color:#4E5AA2;
    padding: 3px 0px 3px 0px;
}
div.us-toggle div.personal-freedom{
    background-color:#5663B2;
}
div.us-toggle div.economic-freedom{
    background-color:#5E6CC2;
}
div.us-toggle div.work{
    background-color:#6575D3;
}
div.us-toggle div.local-opportunity{
    background-color:#6D7EE3;
}
div.us-toggle div.education{
    background-color:#6d7eed;
}
/*
Health and Environment
 */
div.us-toggle div.health-and-environment-header{
    background-color:#fff;
    color:#F60;
    padding: 3px 0px 3px 0px;
}
div.us-toggle div.physical-health{
    background-color:#FF7000;
}
div.us-toggle div.mental-health{
    background-color:#FF7A00;
}
div.us-toggle div.environmental-health{
    background-color:#FF8500;
}

/*
Living Standard
 */
div.us-toggle div.living-standard-header{
    background-color:#fff;
    color:#009855;
    padding: 3px 0px 3px 0px;
}
div.us-toggle div.income{
    background-color:#00A75E;
}
div.us-toggle div.poverty{
    background-color:#00B666;
}
div.us-toggle div.living-standard-perceptions{
    background-color:#00b66c;
}

/*
Peace and Security
 */
div.us-toggle div.peace-and-security-header{
    background-color:#fff;
    color:#861C86;
    padding: 3px 0px 3px 0px;
}
div.us-toggle div.crime{
    background-color:#861C86;
}
div.us-toggle div.peace-and-security-perceptions{
    background-color:#921E92;
}
/*div.us-toggle div.perceived-local-safety{
    background-color:#9F219F;
}
div.us-toggle div.trust{
    background-color:#AB23AB;
}*/

/**
 *world toggle
 */

/*
Community and Relationships
 */
div.world-toggle div.community-and-relationships-header{
    background-color:#fff;
    color:#DA2834;
    padding: 3px 0px 3px 0px;
}
div.world-toggle div.community-life{
    background-color:#F02C39;
}
div.world-toggle div.family-life{
    background-color:#FF303E;
}

/*
Freedom and Opportunity
 */
div.world-toggle div.freedom-and-opportunity-header{
    background-color: #fff;
    color:#4E5AA2;
    padding: 3px 0px 3px 0px;
}
div.world-toggle div.political-freedom{
    background-color:#5663B2;
}
div.world-toggle div.civil-liberties{
    background-color:#5E6CC2;
}
div.world-toggle div.religious-freedom{
    background-color:#6575D3;
}
div.world-toggle div.economic-freedom{
    background-color:#6D7EE3;
}
div.world-toggle div.perceived-opportunities{
    background-color:#6d7eed;
}
div.world-toggle div.entrepreneurship{
    background-color:#6d7ef1;
}
div.world-toggle div.employment{
    background-color:#6d7ef6;
}


/*
Health and Environment
 */
div.world-toggle div.health-and-environment-header{
    background-color:#fff;
    color:#F60;
    padding: 3px 0px 3px 0px;
}
div.world-toggle div.physical-health{
    background-color:#FF7000;
}
div.world-toggle div.mental-health{
    background-color:#FF7A00;
}
div.world-toggle div.environmental-health{
    background-color:#FF8500;
}

/*
Living Standard
 */
div.world-toggle div.living-standard-header{
    background-color:#fff;
    color:#009855;
    padding: 3px 0px 3px 0px;
}
div.world-toggle div.income{
    background-color:#00A75E;
}
div.world-toggle div.poverty{
    background-color:#00B666;
}
div.world-toggle div.resources{
    background-color:#00B666;
}

/*
Peace and Security
 */
div.world-toggle div.peace-and-security-header{
    background-color:#fff;
    color:#861C86;
    padding: 3px 0px 3px 0px;
}
div.world-toggle div.violence-and-ethnic-warfare{
    background-color:#861C86;
}
div.world-toggle div.human-rights-violation{
    background-color:#921E92;
}
div.world-toggle div.law-and-order{
    background-color:#9F219F;
}
div.world-toggle div.trust-in-national-institutions{
    background-color:#AB23AB;
}
div.world-toggle div.corruption-in-business-and-goverment{
    background-color:#B726B7;
}
div.world-toggle div.bureaucracy-quality{
    background-color:#C328C3;
}

/**
 * Map section
 */
div.list-results-us, div.list-results-world{
    width: 96.5%;
    height: 82%;
    padding-top: 60px;
    text-align: center;
    display: none;
    margin: 0px auto;
}
div.top-ranking-us, div.top-ranking-world{
    float:left;
    width: 50%;
}
div.bottom-ranking-us, div.bottom-ranking-world{
    float:right;
    width: 50%;
}
div.top-ranking-container, div.bottom-ranking-container{
    margin:0px auto;
    width: 40%;
}
div.top-ranking-us > .top-ranking-container > h3, div.top-ranking-world > .top-ranking-container > h3{
    font-size: 44px;
    color:#008291;
    text-align: left;
}
div.bottom-ranking-us > .bottom-ranking-container > h3, div.bottom-ranking-world > .bottom-ranking-container > h3{
    font-size:44px;
    color: #78246b;
    text-align: left;
}
div.top-ranking-content-us,  div.bottom-ranking-content-us, div.top-ranking-content-world,  div.bottom-ranking-content-world{
    margin-top:30px;
}
div.bottom-ranking-content-us > ul, div.top-ranking-content-us > ul,
div.bottom-ranking-content-world > ul, div.top-ranking-content-world > ul{
    /*margin-left:40%;*/
    font-family: 'AlternateGothicW01-No3_691802',sans-serif;
    font-size: 17px;
    text-align: left;
    margin: 0px auto;
}

div.show-list-us, div.show-list-world{
    background-color:#f0f0f0;
    position: absolute;
    bottom:0px;
    right: 10px;
    z-index: 3;
}
div.show-list-us > a, div.show-list-world > a{
    background-color: #202020;
    color: #fff;
    padding: 12px 25px;
}
div.show-list-us > a:hover, div.show-list-world > a:hover{
    background-color: #323841;
}
div.show-map-us, div.show-map-world{
    position: absolute;
    bottom: 7px;
    right: 10px;
    z-index: 3;
}
div.show-map-us > a, div.show-map-world > a{
    background-color: #202020;
    color: #FFF;
    padding: 12px 25px;
    text-shadow: 0px 1px 1px #00405D;
}
div.show-map-us > a:hover, div.show-map-world > a:hover{
    background-color: #323841;
}
div.map-legend{
    position: absolute;
    right: 10px;
    font-family: 'AlternateGothicW01-No3_691802',sans-serif;
    color:#fff;
    border-radius: 3px;
    padding:10px;
    z-index: 3;
    height:auto;
    display: none;
}
.circle{
    width:10px;
    height: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top:10px;
    margin-left: 5px;
}
div.legend-title-header > h3, div.legend-title-footer > h3{
    font-size: 16px;
}
div.legend-title-header > h3{
    color:#008291;
}
div.legend-title-footer > h3{
    color:#78246b;
}
div.legend-ten > div.color-ten{
    background-color: #008291;
}
div.legend-nine > div.color-nine{
    background-color: #009cad;
}
div.legend-eight > div.color-eight{
    background-color: #2caaba;
}
div.legend-seven > div.color-seven{
    background-color: #6cbbc8;
}
div.legend-six > div.color-six{
    background-color: #9bced6;
}
div.legend-five > div.color-five{
    background-color: #c9a9c4;
}
div.legend-four > div.color-four{
    background-color: #b785ab;
}
div.legend-three > div.color-three{
    background-color: #a66897;
}
div.legend-two > div.color-two{
    background-color: #974a85;
}
div.legend-one > div.color-one{
    background-color: #78246b;
}
div.legend-no-data{
    position: absolute;
    right:17px;
}
div.legend-no-data > div.color-no-data{
    background-image: url("../../images/bg-empty-region-small.png");
    width:10px;
    height: 10px;
    border-radius: 10px;
}
div.legend-no-data > div.color-no-data > h3{
    font-size:12px;
    width:90px;
    position: absolute;
    right:-10px;
    line-height: 2px;
    text-transform: capitalize;

}
div.legend-rank{
    position: absolute;
    left:-5px;
    color:#323841;
}
div.legend-rank > h3{
    font-size: 12px;
    line-height: 3px;
}
div.legend-container{
    border-top: 1px solid #454E59;
    border-left: 1px solid #454E59;
    border-bottom: 1px solid #454E59;
    margin-left: 2px;
}
div.weight-slider{
    width: 90%;
    margin: 0 auto;
}
div.range-slider-container{
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
    width: 50%;
    /*margin-right: 10px;*/
}
.fsslider{
    font-family: 'AlternateGothicW01-No3_691802',sans-serif;
}
div.sidebar-footer{
    background-color: #323841;
    padding: 10px;
    position: relative;
    right: 0px;
    z-index: 2;
    width:100%;
}
div.sidebar-footer .btn-reset{
    text-align: center;
    border: 1px solid rgba(255,255,255,.4);
    text-decoration: none;
    color: rgba(255,255,255,.4);
    padding: 12px 25px;
    appearance: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'AlternateGothicW01-No3_691802',sans-serif;
    width: 49%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    border-radius: 3px;
}
div.sidebar-footer .btn-rank{
    width:49%;;
}
div.sidebar-footer .btn-reset:hover{
    background-color: rgba(255,255,255,.4);
    color: #323841;
}

div.interactive-app-left-body > a.showcoach{
    background-color: #323841;
    border-bottom: 1px solid #323841;
    border-left: 1px solid #323841;
    border-right: 1px solid #323841;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-style: italic;
    font-size: 0.8125rem;
    padding: 5px 10px;
    position: absolute;
    left: 10px;
    top: 40%;
    z-index: 1;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: left;
}