@import url("fonts.css");

/**
 * Results Page
 */

/**
 *Community and Relationships 
 */
body#results .dim.community_life,.dimension.community_life {
    background-color: rgb(240, 44, 57);
}

body#results .dim.family_life,.dimension.family_life {
    background-color: rgb(255, 48, 62);
}

/** 
 *Freedom and Opportunity 
 */
body#results .dim.personal_freedom,.dimension.personal_freedom, .dimension.political_freedom {
    background-color: #5663B2;
}

body#results .dim.civil_liberties,.dimension.civil_liberties {
    background-color: #5E6CC2;
}

body#results .dim.religious_freedom,.dimension.religious_freedom {
    background-color: #6575D3;
}

body#results .dim.economic_freedom,.dimension.economic_freedom {
    background-color: #6D7EE3;
}

body#results .dim.perceived_opportunities,.dimension.perceived_opportunities {
    background-color: #6d7eed;
}

body#results .dim.entrepreneurship,.dimension.entrepreneurship {
    background-color: #6d7ef1;
}

body#results .dim.employment,.dimension.employment {
    background-color: #6d7ef6;
}

body#results .dim.personal_freedom,.dimension.personal_freedom {
    background-color: #5663B2;
}

body#results .dim.work,.dimension.work {
    background-color: #6575D3;
}

body#results .dim.local_opportunity,.dimension.local_opportunity {
    background-color: #6D7EE3;
}

body#results .dim.education,.dimension.education {
    background-color: #6d7eed;
}

/** 
 * Health and Environment 
 */
body#results .dim.physical_health,.dimension.physical_health {
    background-color: rgb(255, 112, 0);
}

body#results .dim.mental_health,.dimension.mental_health {
    background-color: rgb(255, 122, 0);
}

body#results .dim.environmental_health,.dimension.environmental_health {
    background-color: rgb(255, 133, 0);
}

/** 
 *Living Standard 
 */
body#results .dim.income,.dimension.income {
    background-color: #00A75E;
}

body#results .dim.poverty,.dimension.poverty {
    background-color: #00B666;
}

body#results .dim.resources,.dimension.resources, .dimension.living_standard_perceptions{
    background-color: #00b66c;
}

/** 
 *Peace and Security 
 */
body#results .dim.crime,.dimension.crime {
    background-color: #861C86;
}

body#results .dim.peace_and_security_perceptions,.dimension.peace_and_security_perceptions {
    background-color: #921E92;
}

body#results .dim.violence_and_ethnic_warfare,.dimension.violence_and_ethnic_warfare {
    background-color: rgb(134, 28, 134);
}

body#results .dim.human_rights_violations,.dimension.human_rights_violations {
    background-color: rgb(146, 30, 146);
}

body#results .dim.law_and_order,.dimension.law_and_order {
    background-color: rgb(159, 33, 159);
}

body#results .dim.trust_in_national_institutions,.dimension.trust_in_national_institutions {
    background-color: rgb(171, 35, 171);
}

body#results .dim.corruption_in_business_and_government,.dimension.corruption_in_business_and_government {
    background-color: rgb(183, 38, 183);
}

body#results .dim.bureaucracy_quality,.dimension.bureaucracy_quality {
    background-color: rgb(195, 40, 195);
}
