@import url("fonts.css");

/**
 * Results Page
 */

/** 
 *Community and Relationships 
 */

/* US COMPONENTS COLOR */
body#results .dim.us.community_life,.dimension.us.community_life {
    background-color: #F02C39;
}

body#results .dim.us.family_life,.dimension.us.family_life {
    background-color: #FF303E;
}

/* WORLD COMPONENTS COLOR */
body#results .dim.world.community_life,.dimension.world.community_life {
    background-color: #F02C39;
}

body#results .dim.world.family_life,.dimension.world.family_life {
    background-color: #FF303E;
}

/*--------------------------------------------------------------------------------*/

/**
 *Freedom and Opportunity 
 */

/* US COMPONENTS COLOR */
body#results .dim.us.personal_freedom,.dimension.us.personal_freedom{
    background-color: #5663B2;
}

body#results .dim.us.economic_freedom,.dimension.us.economic_freedom{
    background-color: #5E6CC2;
}

body#results .dim.us.work,.dimension.us.work{
    background-color: #6575D3;
}

body#results .dim.us.local_opportunity,.dimension.us.local_opportunity{
    background-color: #6D7EE3;
}

body#results .dim.us.education,.dimension.us.education{
    background-color: #6d7eed;
}

/* WORLD COMPONENTS COLOR */
body#results .dim.world.political_freedom,.dimension.world.political_freedom{
    background-color: #5663B2;
}

body#results .dim.world.civil_liberties,.dimension.world.civil_liberties{
    background-color: #5E6CC2;
}

body#results .dim.world.religious_freedom,.dimension.world.religious_freedom{
    background-color: #6575D3;
}

body#results .dim.world.economic_freedom,.dimension.world.economic_freedom{
    background-color: #6D7EE3;
}

body#results .dim.world.perceived_opportunities,.dimension.world.perceived_opportunities{
    background-color: #6d7eed;
}

body#results .dim.world.entrepreneurship,.dimension.world.entrepreneurship{
    background-color: #6d7ef1;
}

body#results .dim.world.education,.dimension.world.education{
    background-color: #6d7ef6;
}

/*--------------------------------------------------------------------------------*/

/**
 *Health and Environment 
 */

/* US COMPONENTS COLOR */
body#results .dim.us.physical_health,.dimension.us.physical_health {
    background-color: #FF7000;
}

body#results .dim.us.mental_health,.dimension.us.mental_health {
    background-color: #FF7A00;
}

body#results .dim.us.environmental_health,.dimension.us.environmental_health {
    background-color: #FF8500;
}

/* WORLD COMPONENTS COLOR */
body#results .dim.world.physical_health,.dimension.world.physical_health {
    background-color: #FF8500;
}
body#results .dim.world.mental_health,.dimension.world.mental_health {
    background-color: #FF8500;
}
body#results .dim.world.environmental_health,.dimension.world.environmental_health {
    background-color: #FF8500;
}

/*--------------------------------------------------------------------------------*/

/** 
 *Living Standard 
 */

/* US COMPONENTS COLOR */

body#results .dim.us.income,.dimension.us.income {
    background-color: #00A75E;
}

body#results .dim.us.poverty,.dimension.us.poverty {
    background-color: #00B666;
}

body#results .dim.us.living_standard_perceptions,.dimension.us.living_standard_perceptions{
    background-color: #00b66c;
}

/* WORLD COMPONENTS COLOR */

body#results .dim.world.income,.dimension.world.income {
    background-color: #00A75E;
}

body#results .dim.world.poverty,.dimension.world.poverty {
    background-color: #00B666;
}

body#results .dim.world.essential_resources,.dimension.world.essential_resources{
    background-color: #00b66c;
}

/*--------------------------------------------------------------------------------*/

/** 
 *Peace and Security 
 */

/* US COMPONENTS COLOR */
body#results .dim.us.crime,.dimension.us.crime {
    background-color: #861C86;
}

body#results .dim.us.peace_and_security_perceptions,.dimension.us.peace_and_security_perceptions {
    background-color: #921E92;
}

/* world COMPONENTS COLOR */
body#results .dim.world.violence_and_human_rights,.dimension.world.violence_and_human_rights {
    background-color: #861C86;
}

body#results .dim.world.law_and_order,.dimension.world.law_and_order {
    background-color: #921E92;
}
